#topCriptoLabel {
    font-family: 'Red Hat Text', sans-serif;
    text-align: center;
    margin-top: 39px;
    margin-bottom: 12px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.topCriptosLayout {
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-left: 38px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
}

.criptoValue {
    color: #2AB227;
}

.criptoLine {
    margin-top: 25px;
    margin-left: 41px;
    margin-right: 41px;
    margin-bottom: 36px;
    border: 0.2px solid #000000
}

#criptoSearch{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 3em;
}

#btnSearchCripto {
    width: 43px;
    height: 37px;
    border-style: none;
    background-color: #453E3E;
    border-radius: 25px;
    margin-left: 10px;
}

#criptoResult {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 40px;
}

#criptoResult h6 {
    width: fit-content;
    align-self: center;
    margin: 0;
    margin-bottom: 12px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
}

#txtCriptoVariation {
    color: #2AB227;
}