* {
    margin: 0;
    padding: 0;
}

.news {
    margin-bottom: 6%;
}

.new div {
    margin-bottom: 5%;
}

.news p {
    margin: 2% 5%;
}
.news h2 {
    margin: 4% 5%;
}

#conteudo-div {
    overflow: auto;
    height: 50%;
}